---
layout: single
author_profile: false
author: mark
title: "Submit Your Bach Bracket Picks"
permalink: /bachelor-submit/
---

	<!-- Latest Sortable -->
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div>
		Drag the contestants in the order you think they will be told "thanks but no thanks".
	</div>
	<ul>
	<li>Top of the list = contestant who makes it to the end</li>
	<li>Bottom of the list = contestant you think will go home first</li>
	</ul>
	<div>
		Good luck!
		<br><small>($10 USD / entry. Entries are due no later than Monday May 20 @ 8PM EDT)</small>
	
	</div>
	<hr>
	<form id="bracket-form">
	<div class="form-group">
	  <div class="ranking-align">💍 Winner</div>
	  <div id="simpleList" class="list-group">  
	    <div data-id="Cam" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Cam.png"></span>
	    	Cam <span class="alj">(30, Austin TX, Software Sales)</span>
	    </div>	  	    	 
	    <div data-id="ConnorJ" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/ConnorJ.png"></span>
	    	Connor J. <span class="alj">(28, Newport Beach CA, Sales Mgr)</span>
	    </div>	
	    <div data-id="ConnorS" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/ConnorS.png"></span>
	    	Connor S. <span class="alj">(24, Dallas TX, Investment Analyst)</span>
	    </div>	
	    <div data-id="Daron" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Daron.png"></span>
	    	Daron <span class="alj">(25, Buckhead GA, IT Consultant)</span>
	    </div>	
	    <div data-id="Devin" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Devin.png"></span>
	    	Devin <span class="alj">(27, Sherman Oaks CA, Talent Mgr)</span>
	    </div>	
	    <div data-id="Dustin" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Dustin.png"></span>
	    	Dustin <span class="alj">(30, Chicago IL, Real Estate Broker)</span>
	    </div>	
	    <div data-id="Dylan" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Dylan.png"></span>
	    	Dylan <span class="alj">(24, Seal Beach CA, Tech Entreprenuer)</span>
	    </div>	
	    <div data-id="Garrett" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Garrett.png"></span>
	    	Garrett <span class="alj">(27, Homewood AL, Golf Pro)</span>
	    </div>		
	    <div data-id="Grant" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Grant.png"></span>
	    	Grant <span class="alj">(30, San Clemente CA, Unemployed)</span>
	    </div>	
	    <div data-id="Jed" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Jed.png"></span>
	    	Jed <span class="alj">(25, Nashville TN, Singer)</span>
	    </div>	
	    <div data-id="Joey" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Joey.png"></span>
	    	Joey <span class="alj">(33, Potomac MD, Finance Mgr)</span>
	    </div>	
	    <div data-id="John" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/John.png"></span>
	    	John <span class="alj">(24, St. Michaels MD, John Paul Jones)</span>
	    </div>	
	    <div data-id="Jonathan" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Jonathan.png"></span>
	    	Jonathan <span class="alj">(27, Los Angeles CA, Server)</span>
	    </div>	
	    <div data-id="Kevin" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Kevin.png"></span>
	    	Kevin <span class="alj">(27, Manteno, IL, Behavioral Health Specialist)</span>
	    </div>	
	    <div data-id="LukeP" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/LukeP.png"></span>
	    	Luke P. <span class="alj">(24, Gainesville GA, Import/Export Mgr)</span>
	    </div>	
	    <div data-id="LukeS" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/LukeS.png"></span>
	    	Luke S. <span class="alj">(29, Marion MA, Political Consultant)</span>
	    </div>		
	    <div data-id="MattS" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/MattS.png"></span>
	    	Matt S. <span class="alj">(23, Mira Loma CA, Car Bid Spotter)</span>
	    </div>	
	    <div data-id="Matteo" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Matteo.png"></span>
	    	Matteo <span class="alj">(25, Atlanta GA, Management Consultant)</span>
	    </div>	
	    <div data-id="Mike" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Mike.png"></span>
	    	Mike <span class="alj">(31, Grand Prairie TX, Portfolio Mgr)</span>
	    </div>	
	    <div data-id="Peter" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/Peter.png"></span>
	    	Peter <span class="alj">(27, Westlake CA, Pilot)</span>
	    </div>	
	    <div data-id="TylerC" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/TylerC.png"></span>
	    	Tyler C. <span class="alj">(26, Jupiter FL, General Contractor)</span>
	    </div>
	    <div data-id="TylerG" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s21/TylerG.png"></span>
	    	Tyler G. <span class="alj">(28, Greenwich CT, Pyschology Grad Student)</span>
	    </div>	
	  <div class="ranking-align">😢 First to go home</div>
	</div>
	<hr>

	<div class="form-group">
		<label for="name">Your Name</label>
		<input id="name" name="name" type="text" value=""/>
	</div>
	<div class="form-group">
		<label for="email">Your Email</label>
		<input id="email" name="email" type="text" value=""/>
	</div>

	<input id="ranking" name="ranking" type="hidden" value=""/>

	<input class="btn-primary" type="submit" value="SUBMIT PICKS"/>

	<div id="result">This is it</div>


	</form>


  {% include form-drag-sort.html %}

  {% include airtable.html %}
