---
layout: single
author_profile: false
author: mark
title: "Submit Your Bach Bracket Picks"
permalink: /bachelor-submit/
---

	<!-- Latest Sortable -->
	<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div>
		Drag the contestants in the order you think they will be told "thanks but no thanks". (Top of the list = contestant who makes it to the end; Bottom of the list = contestant you think will go home first) Good luck!
		($10 USD / entry. Entries are due no later than Monday May 29 @ 9PM EST)
	</div>
	<form id="bracket-form">
	<div class="form-group">
	  <div class="ranking-align">💍 Winner</div>
	  <div id="simpleList" class="list-group">
	    <div data-id="Adam" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Adam.png"></span>
	    	Adam (27, Texas, Real Estate)
	    </div>
	    <div data-id="Alex" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Alex.png"></span>
	    	Alex (28, Michigan, Info Systems)
	    </div>
	    <div data-id="Anthony" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Anthony.png"></span>
	    	Anthony (26, Illinois, Education Software)
	    </div>
	    <div data-id="BlakeE" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/BlakeE.png"></span>
	    	Blake E. (31, Florida, Aspiring Drummer)
	    </div>
	    <div data-id="BlakeK" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/BlakeK.png"></span>
	    	Blake K. (29, California, US Marine)
	    </div>
	    <div data-id="Brady" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Brady.png"></span>
	    	Brady (29, Minnesota, Male Model)
	    </div>
	    <div data-id="Bryan" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Bryan.png"></span>
	    	Bryan (37, Florida, Chiropractor)
	    </div>
	    <div data-id="Bryce" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Bryce.png"></span>
	    	Bryce (30, Florida, Firefighter)
	    </div>
		  <div data-id="Dean" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Dean.png"></span>
	    	Dean (26, Colorado, Startup Recruiter)
	    </div>
		  <div data-id="DeMario" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/DeMario.png"></span>
	    	DeMario (30, California, Executive Recruiter)
	    </div>
		  <div data-id="Diggy" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Diggy.png"></span>
	    	Diggy (31, Illinois, Inventory Analyst)
	    </div>
		  <div data-id="Eric" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Eric.png"></span>
	    	Eric (29, Maryland, Personal Trainer)
	    </div>
		  <div data-id="Fred" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Fred.png"></span>
	    	Fred (27, Texas, Exec Assistant)
	    </div>
		  <div data-id="Grant" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Grant.png"></span>
	    	Grant (29, New York, EM Physician)
	    </div>
		  <div data-id="Iggy" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Iggy.png"></span>
	    	Iggy (30, Illinois, Consulting Firm CEO)
	    </div>
		  <div data-id="Jack" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Jack.png"></span>
	    	Jack Stone (32, Texas, Attorney)
	    </div>
		  <div data-id="Jamey" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Jamey.png"></span>
	    	Jamey (32, California, Sales Account Exec)
	    </div>
		  <div data-id="Jedidiah" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Jedidiah.png"></span>
	    	Jedidiah (35, Georgia, ER Physician)
	    </div>
		  <div data-id="Jonathan" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Jonathan.png"></span>
	    	Jonathan (31, Florida, Tickle Monster)
	    </div>
		  <div data-id="Josiah" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Josiah.png"></span>
	    	Josiah (28, Florida, Attorney)
	    </div>
		  <div data-id="Kenny" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Kenny.png"></span>
	    	Kenny (35, Nevada, Pro Wrestler)
	    </div>
		  <div data-id="Kyle" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Kyle.png"></span>
	    	Kyle (26, California, Marketing Consultant)
	    </div>
		  <div data-id="Lee" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Lee.png"></span>
	    	Lee (30, Tennessee, Singer/Songwriter)
	    </div>
		  <div data-id="Lucas" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Lucas.png"></span>
	    	Lucas (30, California, Whaboom)
	    </div>
		  <div data-id="Matt" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Matt.png"></span>
	    	Matt (32, Connecticut, Construction Sales Rep)
	    </div>
		  <div data-id="Michael" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Michael.png"></span>
	    	Michael (26, Illinois, Former NBA Player)
	    </div>
		  <div data-id="Milton" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Milton.png"></span>
	    	Milton (31, Florida, Hotel Recreation Supervisor)
	    </div>
		  <div data-id="Mohit" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Mohit.png"></span>
	    	Mohit (26, California, Product Manager)
	    </div>
		  <div data-id="Peter" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Peter.png"></span>
	    	Peter (31, Wisconsin, Business Owner)
	    </div>
		  <div data-id="Rob" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Rob.png"></span>
	    	Rob (30, Canada, Law Student)
	    </div>
		  <div data-id="Will" class="list-group-item">
	    	<span class="my-handle"><img src="/assets/images/s17/Will.png"></span>
	    	Will (28, New York, Sales Manager)
	    </div>
	  </div>
	  <div class="ranking-align">😢 First to go home</div>
	</div>

	<div class="form-group">
		<label for="name">Your Name</label>
		<input id="name" name="name" type="text" value=""/>
	</div>
	<div class="form-group">
		<label for="email">Your Email</label>
		<input id="email" name="email" type="text" value=""/>
	</div>

	<input id="ranking" name="ranking" type="hidden" value=""/>

	<input class="btn-primary" type="submit" value="SUBMIT PICKS"/>

	<div id="result">This is it</div>


	</form>


  {% include form-drag-sort.html %}

  {% include gsheet.html %}
