---
layout: single
author_profile: false
author: mark
title: "Submit Your Bach Bracket Picks"
permalink: /bachelor-submit/
---

	<!-- Latest Sortable -->
	<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div>
		Drag the contestants in the order you think they will be told "thanks but no thanks".
	</div>
	<ul>
	<li>Top of the list = contestant who makes it to the end</li>
	<li>Bottom of the list = contestant you think will go home first</li>
	</ul>
	<div>
		Good luck!
		<br><small>($10 USD / entry. Entries are due no later than Monday Jan 8 @ 8PM PST/EST)</small>
	
	</div>
	<hr>
	<form id="bracket-form">
	<div class="form-group">
	  <div class="ranking-align">💍 Winner</div>
	  <div id="simpleList" class="list-group">
	    <div data-id="Ali" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Ali.png"></span>
	    	Ali <span class="alj">(27, Oklahoma, Personal Stylist)</span>
	    </div>
	    <div data-id="Amber" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Amber.png"></span>
	    	Amber <span class="alj">(29, Colorado, Business Owner)</span>
	    </div>
	    <div data-id="Annaliese" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Annaliese.png"></span>
	    	Annaliese <span class="alj">(32, California, Event Designer)</span>
	    </div>
	    <div data-id="Ashley" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Ashley.png"></span>
	    	Ashley <span class="alj">(25, Florida, Realtor)</span>
	    </div>
	    <div data-id="Becca" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Becca.png"></span>
	    	Becca K. <span class="alj">(27, Minnesota, Publicist)</span>
	    </div>
	    <div data-id="Bekah" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Bekah.png"></span>
	    	Bekah M. <span class="alj">(Age Unknown, California, Nanny)</span>
	    </div>
	    <div data-id="Bibiana" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Bibiana.png"></span>
	    	Bibiana <span class="alj">(30, Florida, Exec Assistant)</span>
	    </div>
		  <div data-id="Bri" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Bri.png"></span>
	    	Bri <span class="alj">(25, Oregon, Sports Reporter)</span>
	    </div>
		  <div data-id="Brittane" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Brittane.png"></span>
	    	Brittane J. <span class="alj">(27, California, Marketing Manager)</span>
	    </div>
		  <div data-id="Brittany" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Brittany.png"></span>
	    	Brittany T. <span class="alj">(30, South Carolina, Tech Recruiter)</span>
	    </div>
		  <div data-id="Caroline" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Caroline.png"></span>
	    	Caroline <span class="alj">(26, Massachusetts, Realtor)</span>
	    </div>
		  <div data-id="Chelsea" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Chelsea.png"></span>
	    	Chelsea <span class="alj">(29, Maine, Exec Assistant)</span>
	    </div>
		  <div data-id="Jacqueline" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Jacqueline.png"></span>
	    	Jacqueline <span class="alj">(26, West Virginia, Research Coordinator)</span>
	    </div>
		  <div data-id="Jenna" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Jenna.png"></span>
	    	Jenna <span class="alj">(28, Indiana, Social Media Manager)</span>
	    </div>
		  <div data-id="Jenny" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Jenny.png"></span>
	    	Jenny <span class="alj">(25, Illinois, Graphic Designer)</span>
	    </div>
		  <div data-id="Jessica" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Jessica.png"></span>
	    	Jessica <span class="alj">(26, Canada, TV Host)</span>
	    </div>
		  <div data-id="Kendall" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Kendall.png"></span>
	    	Kendall <span class="alj">(26, California, Creative Designer)</span>
	    </div>
		  <div data-id="Krystal" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Krystal.png"></span>
	    	Krystal <span class="alj">(30, Montana, Fitness Coach)</span>
	    </div>
		  <div data-id="LaurenB" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/LaurenB.png"></span>
	    	Lauren B. <span class="alj">(25, Virginia, Tech Salesperson)</span>
	    </div>
		  <div data-id="LaurenG" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/LaurenG.png"></span>
	    	Lauren G. <span class="alj">(26, Indiana, Exec Recruiter)</span>
	    </div>
		  <div data-id="LaurenJ" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/LaurenJ.png"></span>
	    	Lauren J. <span class="alj">(33, Louisiana, Recent Masters Grad)</span>
	    </div>
		  <div data-id="LaurenS" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/LaurenS.png"></span>
	    	Lauren S. <span class="alj">(31, Texas, Social Media Manager)</span>
	    </div>
		  <div data-id="Maquel" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Maquel.png"></span>
	    	Maquel <br><span class="alj">(23, Utah, Photographer)</span>
	    </div>
		  <div data-id="Marikh" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Marikh.png"></span>
	    	Marikh <br><span class="alj">(27, Utah, Restaurant Owner)</span>
	    </div>
		  <div data-id="Nysha" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Nysha.png"></span>
	    	Nysha <br><span class="alj">(30, South Carolina, Orthopedic Nurse)</span>
	    </div>	    	    
		  <div data-id="Olivia" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Olivia.png"></span>
	    	Olivia <br><span class="alj">(23, Illinois, Marketing Associate)</span>
	    </div>
	      <div data-id="Seinne" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Seinne.png"></span>
	    	Seinne <br><span class="alj">(27, California, Realtor)</span>
	    </div>
	      <div data-id="Tia" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Tia.png"></span>
	    	Tia <br><span class="alj">(26, Arkansas, Physical Therapist)</span>
	    </div>
	      <div data-id="Valerie" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s18/Valerie.png"></span>
	    	Valerie <br><span class="alj">(25, Tennessee, Server)</span>
	    </div>
	  </div>
	  <div class="ranking-align">😢 First to go home</div>
	</div>
	<hr>

	<div class="form-group">
		<label for="name">Your Name</label>
		<input id="name" name="name" type="text" value=""/>
	</div>
	<div class="form-group">
		<label for="email">Your Email</label>
		<input id="email" name="email" type="text" value=""/>
	</div>

	<input id="ranking" name="ranking" type="hidden" value=""/>

	<input class="btn-primary" type="submit" value="SUBMIT PICKS"/>

	<div id="result">This is it</div>


	</form>


  {% include form-drag-sort.html %}

  {% include gsheet.html %}
