---
layout: single
author_profile: false
author: mark
title: "Submit Your Bach Bracket Picks"
permalink: /bachelor-submit-s19/
---

	<!-- Latest Sortable -->
	<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<div>
		Drag the contestants in the order you think they will be told "thanks but no thanks".
	</div>
	<ul>
	<li>Top of the list = contestant who makes it to the end</li>
	<li>Bottom of the list = contestant you think will go home first</li>
	</ul>
	<div>
		Good luck!
		<br><small>($10 USD / entry. Entries are due no later than Monday June 4 @ 8PM PST/EST)</small>
	
	</div>
	<hr>
	<form id="bracket-form">
	<div class="form-group">
	  <div class="ranking-align">💍 Winner</div>
	  <div id="simpleList" class="list-group">
	    <div data-id="Alex" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Alex.png"></span>
	    	Alex <span class="alj">(31, Georgia, Construction Mgr)</span>
	    </div>
	    <div data-id="Blake" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Blake.png"></span>
	    	Blake <span class="alj">(28, Colorado, Sales Rep)</span>
	    </div>
	    <div data-id="Chris" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Chris.png"></span>
	    	Chris <span class="alj">(30, Florida, Sales Trainer)</span>
	    </div>
		  <div data-id="Christon" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Christon.png"></span>
	    	Christon <span class="alj">(31, California, Ex Harlem Globetrotter)</span>
	    </div>
		  <div data-id="Clay" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Clay.png"></span>
	    	Clay <span class="alj">(30, Illinois, Pro Football Player)</span>
	    </div>
		  <div data-id="Colton" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Colton.png"></span>
	    	Colton <span class="alj">(26, Colorado, Ex Pro Football Player)</span>
	    </div>
		  <div data-id="Connor" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Connor.png"></span>
	    	Connor <span class="alj">(25, Florida, Fitness Coach)</span>
	    </div>
		  <div data-id="David" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/David.png"></span>
	    	David <span class="alj">(25, Colorado, Venture Capitalist)</span>
	    </div>
		  <div data-id="Garrett" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Garrett.png"></span>
	    	Garrett <span class="alj">(29, Nevada, Medical Sales Rep)</span>
	    </div>
		  <div data-id="Jason" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Jason.png"></span>
	    	Jason <span class="alj">(29, Washington, Corporate Banker)</span>
	    </div>
		  <div data-id="JeanBlanc" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/JeanBlanc.png"></span>
	    	Jean Blanc <span class="alj">(31, Florida, Colognoisseur)</span>
	    </div>
		  <div data-id="John" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/John.png"></span>
	    	John <br><span class="alj">(28, California, Software Engineer)</span>
	    </div>
	      <div data-id="Jordan" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Jordan.png"></span>
	    	Jordan <br><span class="alj">(26, Florida, Male Model)</span>
	    </div>
	      <div data-id="Leo" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Leo.png"></span>
	    	Leo <br><span class="alj">(31, California, Stuntman)</span>
	    </div>
	      <div data-id="Lincoln" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Lincoln.png"></span>
	    	Lincoln <br><span class="alj">(26, California, Sales Executive)</span>
	    </div>
	      <div data-id="Mike" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Mike.png"></span>
	    	Mike <br><span class="alj">(27, Ohio, Sports Analyst)</span>
	    </div>
	      <div data-id="Nick" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Nick.png"></span>
	    	Nick <br><span class="alj">(27, Florida, Attorney)</span>
	    </div>
	      <div data-id="Rickey" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Rickey.png"></span>
	    	Rickey <br><span class="alj">(27, California, IT Consultant)</span>
	    </div>
	      <div data-id="Ryan" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Ryan.png"></span>
	    	Ryan <br><span class="alj">(26, California, Banjoist)</span>
	    </div>
	      <div data-id="Trent" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Trent.png"></span>
	    	Trent <br><span class="alj">(28, Florida, Realtor)</span>
	    </div>
	      <div data-id="Wills" class="list-group-item">
	    	<span class="my-handle"><img src="{{ site.baseurl }}/assets/images/s19/Wills.png"></span>
	    	Wills <br><span class="alj">(29, California, Graphic Designer)</span>
	    </div>
	  </div>
	  <div class="ranking-align">😢 First to go home</div>
	</div>
	<hr>

	<div class="form-group">
		<label for="name">Your Name</label>
		<input id="name" name="name" type="text" value=""/>
	</div>
	<div class="form-group">
		<label for="email">Your Email</label>
		<input id="email" name="email" type="text" value=""/>
	</div>

	<input id="ranking" name="ranking" type="hidden" value=""/>

	<input class="btn-primary" type="submit" value="SUBMIT PICKS"/>

	<div id="result">This is it</div>


	</form>


  {% include form-drag-sort.html %}

  {% include gsheet.html %}
