<script data-cfasync="false" type="text/javascript">
jQuery( document ).ready(function( $ ) {
	// variable to hold request
	var request;
	$('#result').hide();
	// bind to the submit event of our form
	$("#bracket-form").submit(function(event){
		// prevent default posting of form
		event.preventDefault();
		// abort any pending request
		if (request) {
			request.abort();
		}
		// setup some local variables
		var $form = $(this);
		// let's select and cache all the fields
		var $inputs = $form.find("input, select, button, textarea");
		// serialize the data in the form
		
		var submitJson = {
			name: $('#name').val(),
			email: $('#email').val(),
			ranking: $('#ranking').val()
		}
		// let's disable the inputs for the duration of the ajax request
		// Note: we disable elements AFTER the form data has been serialized.
		// Disabled form elements will not be serialized.
		$inputs.prop("disabled", true);

		$('#result').text('Sending data...');
		$('#result').show();
		var sendData = "{\"fields\":" + JSON.stringify(submitJson) + "}"
		console.warn(sendData)
		// fire off the request to /form.php
		request = $.ajax({
      		url: "https://api.airtable.com/v0/appri5O02w05GP6cA/t1",  // clone
      		headers: {
				"Authorization": "Bearer keyaLMSzwxIKVpVbx",
				"Content-Type": "application/json"
		    },
			type: "post",
			data: sendData
		});
		// callback handler that will be called on success
		request.done(function (response, textStatus, jqXHR){
			// log a message to the console
      		//console.log(response, textStatus, jqXHR);
      		$('#result').hide();
      		window.location = {{ site.baseurl }}{% link form-complete.md %};
			// $('#result').html('<a href="https://docs.google.com/spreadsheets/d/1_92zZ-BDjItIMpIjQlYSVvdcCwTevJtjY8eXDO_aLiA/edit#gid=0" target="_blank">Success - see Google Sheet</a>');
			//console.log("Hooray, it worked!");
		});
		// callback handler that will be called on failure
		request.fail(function (jqXHR, textStatus, errorThrown){
			// log the error to the console
			$('#result').text('These was a problem, sorry. Please copy down your answers, refresh the page, and try again.');
			$('#result').show();
			console.error(
				"The following error occured: "+
				textStatus, errorThrown
			);
		});
		// callback handler that will be called regardless
		// if the request failed or succeeded
		request.always(function () {
			// reenable the inputs
			$inputs.prop("disabled", false);
		});
	});
});
</script>